/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  #chat {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  #user-list {
    margin-top: 10px;
  }
  
  .message {
    margin-bottom: 5px;
  }
  